---
import Layout from '../../layouts/Layout.astro'
import { getCollection } from 'astro:content'
import { translations } from '../../i18n/translations'
import Hero from '../../components/Hero.astro'
import SectionProjects from '../../components/SectionProjects.astro'
import SectionResume from '../../components/SectionResume.astro'
import SectionEducation from '../../components/SectionEducation.astro'

export async function getStaticPaths() {
  const pages = await getCollection('projects')
  return pages.map(page => {
    const locale = page.id.split('/')[1]
    return {
      params: { locale },
    }
  })
}
---

<Layout>
  <main class='flex flex-col gap-24'>
    <Hero />
    <SectionProjects />
    <SectionResume />
    <SectionEducation />
  </main>
</Layout>
