---

---

<section class='container'>
	<h2 class='hidden lg:block mb-6 text-3xl'>О себе</h2>
	<div class='flex flex-col gap-4'>
		<p class='text-slate-800 mb-2'
			>Привет! Я фронтенд-разработчик, работающий с Vue / Nuxt и обладающий экспертизой в UX/UI дизайне.
		</p>
		<p class='text-slate-800 mb-4'
			>В своей работе я использую продуктовый подход и всегда начинаю с понимания задачи. Задаю уточняющие вопросы, а
			если вижу, что можно сделать лучше — предлагаю варианты. Я постоянно развиваюсь в профессии: пробую новые
			технологии, вникаю в документацию, слежу за экспертами на YouTube, читаю Reddit. В свободное время я делаю
			хобби-проекты чтобы изучить Laravel и играю на барабанах.
		</p>
	</div>
</section>
