---

---

<section class='container'>
	<h2 class='hidden lg:block mb-6 text-3xl'>Образование</h2>
	<div class='flex flex-col gap-6 mb-6'>
		<div class=''>
			<h3 class='text-xl text-slate-900'>Дизайнер Интерфейсов</h3>
			<p class='text-slate-700 text-sm lg:text-base'>Яндекс Практикум • июнь 2022 — февраль 2023</p>
		</div>
		<div class=''>
			<h3 class='text-lg text-slate-500'>Creative Audio Director</h3>
			<p class='text-slate-500 text-sm lg:text-base'>Fachhochshule Dortmund • апрель 2019 — июль 2021</p>
		</div>
		<div class=''>
			<h3 class='text-lg text-slate-500'>Звукорежиссёр</h3>
			<p class='text-slate-500 text-sm lg:text-base'
				>Гуманитарный институт телевидения и радиовещания • сентябрь 2012 — июль 2017</p
			>
		</div>
	</div>
	<!-- <h4 class='text-2xl text-slate-900 mb-4'>Дополнительное обучение</h4>
	<ul class='flex flex-row gap-3 flex-wrap'>
		<li class='text-center text-sm px-3 py-2 bg-blue-50 rounded text-slate-900'>Wordpress Developer (Udemy)</li>
		<li class='text-center text-sm px-3 py-2 bg-blue-50 rounded text-slate-900'>Laravel Developer (Udemy)</li>
		<li class='text-center text-sm px-3 py-2 bg-blue-50 rounded text-slate-900'>JavaScript Developer (Udemy)</li>
	</ul> -->
</section>
