---
import Layout from '../../layouts/Layout.astro'

import { getCollection } from 'astro:content'
---

<Layout title='Blog | Nikita Golovlev, frontend-developer'>
	<section class='container max-w-screen-lg px-4 mt-24 lg:mt-32 mb-8 mx-auto'>
		<h1 class='text-3xl lg:text-4xl text-slate-900 mb-3'>Блог</h1>
	</section>
</Layout>
