---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/Hero.astro'
import SectionProjects from '../components/SectionProjects.astro'
---

<Layout>
  <main class='flex flex-col gap-24'>
    <Hero />
    <SectionProjects />
  </main>
</Layout>
