---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/Hero.astro'
import SectionSelectedProjects from '../components/SectionSelectedProjects.astro'
import SectionEducation from '../components/SectionEducation.astro'
import SectionResume from '../components/SectionResume.astro'
---

<Layout>
  <main class='flex flex-col gap-24'>
    <Hero/>
    <SectionResume/>
    <SectionSelectedProjects/>
    <SectionEducation/>
  </main>
</Layout>
