---
import Layout from '../layouts/Layout.astro'
import Head from '../components/head.astro'
import ResumeTabs from '../components/resumeTabs.vue'
import WorkExpTab from '../components/workExpTab.astro'
import SkillsTab from '../components/skillsTab.astro'
import EducationTab from '../components/educationTab.astro'
import AboutTab from '../components/aboutTab.astro'
---

<Layout title="Резюме | Никита Головлёв, фронтенд-разработчик'">
	<Head transition:persist />
	<section>
		<ResumeTabs client:load>
			<WorkExpTab slot='work-exp-tab' />
			<SkillsTab slot='skills-tab' />
			<EducationTab slot='education-tab' />
			<AboutTab slot='about-tab' />
		</ResumeTabs>
	</section></Layout
>
