---

---

<section class='container'>
	<h2 class='hidden lg:block mb-6 text-3xl'>О себе</h2>
	<div class='flex flex-col gap-4'>
		<p class='text-slate-800 mb-2'
			>В веб-разработку пришёл из UX/UI дизайна: перестал бояться кода после того, как написал свою первую строчку CSS.
			А ещё понял, что мне интереснее самому создавать вещи, которые реагируют на действия пользователей, чем описывать,
			как они должны выглядеть.
		</p>
		<p class='text-slate-800 mb-4'
			>В работе стремлюсь к постоянному совершенствованию: регулярно пересматриваю старый код и оптимизирую его,
			применяя новые знания. Вникаю в документации, внимательно слежу за актуальными трендами фронтенда и веб-технологий
			на Reddit и YouTube. В свободное время играю на барабанах.
		</p>
	</div>
</section>
