---
import useIsLangRu from '../composables/useIsLangRu'
interface Props {
  lang: 'ru' | 'en'
}
const isLangRu = useIsLangRu(Astro.props.lang)
---

<section class=''>
  <h2 class='lg:mb-4 mb-2 text-2xl'>{isLangRu ? 'Коротко обо мне' : 'Summary'}</h2>
  <p class='text-slate-800'>
    {
      isLangRu
        ? `Frontend-разработчик с опытом работы 2 года. Основной стек: Vue, Nuxt, Astro и WordPress. Обладаю экспертизой в UX\UI-дизайне: понимаю, где пользовательский опыт может принести максимальную выгоду бизнесу, и чему стоит уделить особое внимание.`
        : `Frontend developer with 2 years of experience. Main stack: Vue, Nuxt, Astro, and WordPress.
I have expertise in UX/UI design, with an understanding of areas where improved user experience can benefit the business and where to focus my efforts.`
    }
  </p>
</section>
