---
import { getCollection } from 'astro:content'
import { translation } from '../i18n/translations'
const lang = (Astro.currentLocale as 'en' | 'ru') || 'en'
const education = await getCollection('education')
const courses = await getCollection('courses')
---

<section id='education-tab' class='tab'>
  <h2 class='lg:mb-4 mb-3 text-2xl'>
    {translation[lang].tab_education}
  </h2>
  <div class='flex flex-col gap-4 mb-8'>
    {
      education.map(educationItem => (
        <div class=''>
          <h3 class='text-gray-900 text-lg'>{educationItem.data[lang].profession}</h3>
          <p class='text-gray-500 text-sm lg:text-base'>
            {educationItem.data[lang].dates + ' | ' + educationItem.data[lang].place}
          </p>
        </div>
      ))
    }
  </div>
  <h2 class='lg:mb-3 mb-2 text-xl'>{translation[lang].tab_education_courses}</h2>
  <div class='flex flex-col gap-4 mb-8'>
    {
      courses.map(courseItem => (
        <div class=''>
          <h3 class='text-gray-900 text-lg'>{courseItem.data[lang].profession}</h3>
          <p class='text-gray-500 text-sm lg:text-base'>
            {courseItem.data[lang].dates + ' | ' + courseItem.data[lang].place}
          </p>
        </div>
      ))
    }
  </div>
</section>
