---
import { translations } from '../i18n/translations'
import BigCtaButton from './BigCtaButton.astro'

const lang = (Astro.currentLocale as 'ru' | 'en') || 'en'
let date
if (lang == 'ru') {
  date = new Date()
    .toLocaleString('ru-RU', { year: 'numeric', month: 'long', localeMatcher: 'best fit' })
    .replace('г.', '')
} else {
  date = new Date()
    .toLocaleString('en-EN', { year: 'numeric', month: 'long', localeMatcher: 'best fit' })
    .replace('г.', '')
}
---

<footer class='px-4 lg:px-8 mb-8'>
  <div class='max-w-screen-xl mx-auto flex flex-col items-start justify-start gap-6'>
    <div class='w-full mb-20'>
      <BigCtaButton isBig={true} />
    </div>
    <div class='flex flex-col gap-2'>
      <p class='text-grey'>
        {translations[lang].last_updated}: <span class='capitalize'>{date}</span>
      </p>
      <p class='text-grey'>
        Design: <a href='#' target='_blank' class='hover:text-accent transition'>Irina Krylova</a>
      </p>
    </div>
  </div>
</footer>

<script></script>
