---
import IconHome from '../icons/IconHome.astro'
import HeaderMenu from './HeaderMenu.astro'

let currentLang = (Astro.currentLocale as 'ru' | 'en') || 'en'
const homepageUrl = `/${currentLang}`
---

<header class='bg-white grid grid-rows-1 max-h-screen fixed w-full top-0 z-10 border-b border-gray-200'>
  <nav class='container max-w-screen-lg mx-auto py-2 px-4 md:px-8 flex flex-row justify-between items-center text-base'>
    <div class='relative -left-3'>
      <a href={homepageUrl} aria-label='Home Page' class='transition duration-500 trangray-x-0'>
        <IconHome />
      </a>
    </div>
    <HeaderMenu currentLang={currentLang} />
  </nav>
</header>
