---
import Image from 'astro/components/Image.astro'
import myPic from '../img/myPic_square.jpg'

//Fix for netlify's trailing slash
const pathName = Astro.url.pathname.replaceAll('/', '')
---

<section
	class='container px-4 mx-auto sm:px-8 mt-28 lg:mt-32 mb-12 md:mb-16 flex flex-row flex-wrap gap-6 items-center'>
	<Image class='w-36 rounded-full lg:w-56' src={myPic} alt={'Никита Головлёв, фронтенд-разработчик'} />
	<div>
		<p class='text-slate-500'>Привет! Меня зовут</p>
		<h1 class='text-3xl lg:text-4xl text-slate-900 mb-3'>Никита Головлёв</h1>
		<p class='text-slate-900'
			>Фронтенд-разработчик с экспертизой в UX/UI дизайне.<br />Я работаю c экосистемой Vue.js и Nuxt.</p
		>
		<div class='grid grid-cols-2 w-full gap-x-2 mt-6 animate-slideDown'>
			{
				pathName == 'resume' ? (
					<>
						<div class='flex flex-col'>
							<a
								class='flex flex-row items-center justify-center text-center max-w-full bg-hh-red hover:bg-red-700 transition py-2 px-4 text-white rounded'
								target='_blank'
								href='https://hh.ru/applicant/resumes/view?resume=d6ff65adff0bb6f7260039ed1f4c4465385443'>
								Резюме на hh.ru
							</a>
						</div>
						<a
							class='flex flex-row items-center justify-center border max-w-36 sm:max-w-full text-center rounded border-blue-600 text-blue-600 hover:bg-blue-600 hover:text-white transition py-2 px-4 max-h-min'
							target='_blank'
							href='/golovlev_nikita_resume.pdf'>
							Скачать PDF
						</a>
						<p class='mt-2 row-start-2 text-xs text-gray-500 w-max'>Требуется авторизация</p>
					</>
				) : (
					<>
						<a
							class='flex flex-row items-center justify-center border grow w-full text-center rounded bg-hh-red hover:bg-red-700 text-white transition py-2 px-4'
							href='/resume'>
							Посмотреть резюме
						</a>
						<a
							class='flex flex-row items-center justify-center border grow w-full text-center rounded border-blue-600 text-blue-600 hover:bg-blue-600 hover:text-white transition py-2 px-4'
							href='#cases__front-page'>
							Перейти к портфолио
						</a>
					</>
				)
			}
		</div>
	</div>
</section>
