---
import HeaderMenu from './HeaderMenu.astro'
import MobileMenuTrigger from './MobileMenuTrigger.astro'

let currentLang = (Astro.currentLocale as 'ru' | 'en') || 'en'
const homepageUrl = `/${currentLang}`
---

<header class='px-4 lg:px-8 flex fixed top-0 left-0 right-0 z-50 bg-black'>
  <nav
    class='mx-auto max-w-screen-xl py-1.5 lg:py-4 flex flex-row w-full justify-between items-center text-base border-b border-stroke'>
    <a
      href={homepageUrl}
      aria-label='Home Page'
      class='text-xl duration-500 trangray-x-0 relative z-50 hover:text-accent transition'>Nikita Golovlev</a
    >
    <HeaderMenu />
    <div class='flex flex-row gap-4 md:gap-6 items-center'>
      <MobileMenuTrigger />
    </div>
  </nav>
</header>
