---
import Arrow from '../icons/Arrow.astro'
---

<button
  class='hero-button flex justify-center max-lg:static xl:[@media(height_>_680px)]:absolute xl:[@media(height_>_800px)]:static items-center bottom-8 h-16 w-16 bg-accent rounded-full'
  type='button'
  aria-label='Move to next section'>
  <Arrow />
</button>
<script>
  const button = document.querySelector('.hero-button')
  const nextSection = document.querySelector('.projects-section')
  button?.addEventListener('click', () => {
    nextSection?.scrollIntoView({ behavior: 'smooth' })
  })
</script>
