---
import { getCollection } from 'astro:content'
import ProjectCard from './ProjectCard.astro'
import { translation } from '../i18n/translations'
const currentLang = Astro.currentLocale as 'ru' | 'en'
const projectsData = await getCollection('projects')
let projects = projectsData
  .filter(project => project.id.split('/')[1] == currentLang)
  .sort((a, b) => {
    return b.data.publishedDate.getTime() - a.data.publishedDate.getTime()
  }) as typeof projectsData
---

<section id='cases__front-page' class='mx-auto px-4 sm:px-8 scroll-mt-24'>
  <h2 class='text-2xl mb-6 md:mb-8 lg:text-3xl'>
    {translation[currentLang].projects}
  </h2>
  <div class='flex flex-col gap-12 lg:gap-16'>
    {projects.map(project => <ProjectCard project={project} />)}
  </div>
</section>
