---

---

<div
  class='max-w-prose prose-h2:text-2xl prose-h2:mb-3 prose-p:mb-6 lg:prose-p:leading-relaxed lg:prose-p:mb-8 prose-img:mb-6 lg:prose-img:mb-6 prose-li:mb-2 prose-ul:mb-6 lg:prose-ul:mb-8'>
  <slot />
</div>
