---

---

<div
  class='prose lg:prose-lg prose-h1:text-3xl lg:prose-h1:text-4xl lg:prose-h1:leading-snug prose-h1:leading-tight prose-a:no-underline prose-a:font-normal prose-a:text-blue-500 prose-blockquote:font-normal before:prose-p:content-none after:prose-p:content-none prose-headings:font-normal prose-headings:slate-800 prose-blockquote:border-l-2 prose-blockquote:border-blue-100 prose-blockquote:text-slate-600 prose-ul:px-4'>
  <slot />
</div>
