---
import { getCollection } from 'astro:content'
import { translation } from '../i18n/translations'
const lang = (Astro.currentLocale as keyof typeof translation) || 'en'
const resume = await getCollection('resume')
---

<section id='work-exp-tab' class='tab lg:max-w-screen-md'>
  <h2 class='lg:mb-6 mb-3 text-2xl'>{translation[lang].tab_workexp}</h2>
  <div class='flex flex-col gap-6 lg:gap-8'>
    {
      resume.map(resumeItem => (
        <>
          <div class=''>
            <h3 class='text-xl'>{resumeItem.data[lang].position}</h3>
            <p class='text-gray-500 mb-4 text-sm lg:text-base'>
              {resumeItem.data[lang].company + ' | ' + resumeItem.data[lang].dates}
            </p>
            <ul class='list-disc pl-4 flex flex-col gap-2'>
              {resumeItem.data[lang].responsibilities.map(respItem => (
                <li set:html={respItem} />
              ))}
            </ul>
          </div>
        </>
      ))
    }
  </div>
</section>
