---

---

<section class='container lg:p-6 lg:border-2 lg:rounded-lg border-blue-200'>
	<h2 class='hidden lg:block mb-6 text-3xl'>Опыт работы</h2>
	<div class='flex flex-col gap-8'>
		<div class=''>
			<h3 class='text-xl text-slate-900'>Frontend-разработчик</h3>
			<p class='text-slate-500 mb-4 text-sm lg:text-base'>Фармацевтикал Косметик • апрель 2023 — н.в</p>
			<ul class='list-disc pl-4 flex flex-col gap-2'>
				<li>Адаптивная и кроссбраузерная вёрстка с использованием <strong>CSS, Sass, Tailwind</strong></li>
				<li>Добавление интерактивности с использованием <strong>JavaScript/TypeScript, Vue и Nuxt</strong></li>
				<li>UX/UI дизайн лендинговых страниц, интернет-магазинов и приложений в Figma</li>
				<li>Написание кастомных тем для Wordpress на PHP</li>
				<li>Работа в команде с PM, маркетологом и SMM-менеджером</li>
			</ul>
		</div>
		<div class=''>
			<h3 class='text-xl text-slate-900'>UX/UI дизайнер</h3>
			<p class='text-slate-500 mb-4 text-sm lg:text-base'>Freelance • февраль 2023 — апрель 2023</p>
			<ul class='list-disc pl-4 flex flex-col gap-2'>
				<li>Разработка дизайна лендинг-страницы для SaaS продукта Alfa 4</li>
				<li>Дизайн и вёрстка интернет-магазина на Tilda</li>
			</ul>
		</div>
	</div>
</section>
