---

---

<section class='container'>
	<h2 class='hidden lg:block mb-6 text-3xl'>Education</h2>
	<div class='flex flex-col gap-6 mb-6'>
		<div class=''>
			<h3 class='text-xl text-slate-900'>Interface Designer</h3>
			<p class='text-slate-700 text-sm lg:text-base'>Yandex Prakticum • June 2022 — February 2023</p>
		</div>
		<div class=''>
			<h3 class='text-lg text-slate-500'>Creative Audio Director</h3>
			<p class='text-slate-500 text-sm lg:text-base'>Fachhochshule Dortmund • April 2019 — July 2021</p>
		</div>
		<div class=''>
			<h3 class='text-lg text-slate-500'>Sound designer</h3>
			<p class='text-slate-500 text-sm lg:text-base'
				>The Humanities Institute of Television and Radio • September 2012 — July 2017</p
			>
		</div>
	</div>
	<!-- <h4 class='text-2xl text-slate-900 mb-4'>Additional studies</h4>
	<ul class='flex flex-row gap-3 flex-wrap'>
		<li class='text-center text-sm px-3 py-2 bg-blue-50 rounded text-slate-900'>Wordpress Developer (Udemy)</li>
		<li class='text-center text-sm px-3 py-2 bg-blue-50 rounded text-slate-900'>Laravel Developer (Udemy)</li>
		<li class='text-center text-sm px-3 py-2 bg-blue-50 rounded text-slate-900'>JavaScript Developer (Udemy)</li>
	</ul> -->
</section>
