---
const mySkills: string[] = [
	'JavaScript',
	'TypeScript',
	'HTML',
	'CSS',
	'Sass',
	'BEM',
	'TailwindCSS',
	'Vue',
	'Nuxt',
	'Pinia',
	'Astro',
	'GSAP',
	'VS Code',
	'PHP',
	'Wordpress',
	'Laravel',
	'Git',
	'GitHub',
	'Figma',
	'A11ly',
	'Tilda',
]
---

<section class='container'>
	<h2 class='hidden lg:block mb-6 text-3xl'>Skills</h2>
	<div class='flex flex-col gap-8'>
		<div>
			<ul class='flex flex-row gap-3 flex-wrap'>
				{
					mySkills.map(skill => (
						<li class='text-center text-sm px-3 py-2 bg-blue-50 rounded text-slate-900'>{skill}</li>
					))
				}
			</ul>
		</div>
		<div>
			<h3 class='text-xl text-slate-900 mb-4'>Languages</h3>
			<ul class='flex flex-row gap-3 flex-wrap'>
				<li class='text-center text-sm px-3 py-2 bg-blue-50 rounded text-slate-900'>English — B2</li>
				<li class='text-center text-sm px-3 py-2 bg-blue-50 rounded text-slate-900'>German — B2</li>
			</ul>
		</div>
	</div>
</section>
