---

---

<section class='container lg:p-6 lg:border-2 lg:rounded-lg border-blue-200'>
	<h2 class='hidden lg:block mb-6 text-3xl'>Work experience</h2>
	<div class='flex flex-col gap-8'>
		<div class=''>
			<h3 class='text-xl text-slate-900'>Frontend-developer</h3>
			<p class='text-slate-500 mb-4 text-sm lg:text-base'>Pharmaceutical Cosmetic LLC • апрель 2023 — н.в</p>
			<ul class='list-disc pl-4 flex flex-col gap-2'>
				<li>Responsive and cross-browser layout using <strong>CSS, Sass, Tailwind CSS</strong></li>
				<li>Development of websites and web applications using <strong>JavaScript/TypeScript, Vue, and Nuxt</strong></li
				>
				<li>UX/UI design of landing pages, online stores, and applications in Figma</li>
				<li>Writing custom themes for WordPress in PHP</li>
				<li>Worked in team with PM, marketer, and SMM manager</li>
			</ul>
		</div>
		<div class=''>
			<h3 class='text-xl text-slate-900'>UX/UI Designer</h3>
			<p class='text-slate-500 mb-4 text-sm lg:text-base'>Freelance • February 2023 — April 2023</p>
			<ul class='list-disc pl-4 flex flex-col gap-2'>
				<li>Developed the landing page design for the SaaS product</li>
				<li>Designed and built an online store</li>
			</ul>
		</div>
	</div>
</section>
